/* custom fonts */
@font-face {
  font-family: 'Mangabey';
  src: url('./assets/fonts/MangabeyRegular-rgqVO.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/* Navbar */
.social-icon {
  display: inline-block;
  margin-left: 420px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar {
  background: linear-gradient(90.21deg, rgba(248, 98, 4, 0.88), rgba(8, 0, 0, 0.5));
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  overflow: auto;
}

.navbar-brand {
  color: #fff !important;
  font-size: 40px;
  font-family: 'Mangabey', sans-serif !important;
  font-weight: 400;
  font-size: 30px !important;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  position: relative;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

/* main page */
.mainpage {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/hardware.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainpage .tagline {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 20px;
  background: linear-gradient(90.21deg, rgba(248, 98, 4, 0.88) -5.91%, rgba(8, 0, 0, 0.5) 111.58%);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.mainpage h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.mainpage p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.mainpage button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.mainpage button svg {
  font-size: 25px;
  margin-left: 7px;
  transition: 0.8s ease-in-out;
  line-height: 1;
}
.mainpage button:hover svg {
  margin-left: 25px;
}

/* skills Carousel */

.skills {
  padding: 0 0 50px 0;
  position: relative;
}
.skillsbox {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skills h2 {
	font-size: 45px;
	font-weight: 700;
  padding-top: 20px;
}

.skillsslider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skillslider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

/* Projects Section */

.project {
  padding: 80px 10px;
  position: relative;
  background-color: black;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  margin-bottom: 24px;
}

.proj-imgbx img {
  margin-bottom: 10px;
  height: 220px;  
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.project button {
  margin: 10px 10px 0 0;
}


/* Contact Form */

.contact {
  background: linear-gradient(90.21deg, rgba(248, 98, 4, 0.88) -5.91%, rgba(8, 0, 0, 0.5) 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/* Footer */

.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/hardware.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 26%;
  margin-top: 40px;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
